.App {
  text-align: center;
}

.UserList {
  margin: 20px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #131212;
}

th, td {
  padding: 10px;
  text-align: center;
}


th {
  font-weight: bold;
}
